{% extends 'base2.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title> {% trans "Listar Perguntas Prova" %} </title>
{% endblock %}

{% block body %}
<div class="container">
    <h3 style="color:blue;"> {{ mensagem }} </h3>
    <form method="post" action="{% url 'salvarCorrecoes' %}">
        {% csrf_token %}
        <p><label>{% trans "Data" %}:</label> <input type="text" readonly=True name="data" value="{{ data }}" hidden> {{ data }} </p>
        <p><label>{% trans "Alunos" %}:</label> <input type="text" readonly=True name="aluno" value="{{ aluno }}" hidden> {{ aluno }} </p>
        <p> <label for="materia"> {% trans "Matéria" %}: <input readonly=True type="text" name="materia" value="{{ nome_materia }}" hidden> {{ nome_materia }} </label> </p>
        {% for prova in provas %}
            <p> <label for="id_nr_pergunta"> {% trans "Pergunta" %}: <input size=2 readonly=True type="text" name="nr_pergunta" value="{{ prova.nr_pergunta }}" hidden> {{ prova.nr_pergunta }}: <input size=87 readonly=True type="text" name="pergunta" value="{{ prova.pergunta }}" hidden> {{ prova.pergunta }} </label> </p>
            <p> <label for="id_peso"> {% trans "Peso" %}: <input size="2" readonly=True type="number" name="peso" value="{{ prova.peso }}" hidden> {{ prova.peso }} </label> </p>
            <p> <label for="resposta"> {% trans "Resposta" %} <textarea readonly=True name="resposta" maxlength="1000" rows="3" cols="100"> {{ prova.resposta }} </textarea> </p>
            <p> <label for="resultado"> {% trans "Resultado" %}: </label>
              {% if prova.resultado == "Correto" %}
                  <input type="checkbox" name="resultado" value="Correto" checked> {% trans "Correto" %}
                  <input type="checkbox" name="resultado" value="Incorreto"> {% trans "Incorreto" %} </p>
              {% endif %}
              {% if prova.resultado == "Incorreto" %}
                  <input type="checkbox" name="resultado" value="Correto"> {% trans "Correto" %}
                  <input type="checkbox" name="resultado" value="Incorreto" checked> {% trans "Incorreto" %} </p>
              {% endif %}
              {% if prova.resultado is null %}
                    <input type="checkbox" name="resultado" value="Correto"> {% trans "Correto" %}
                    <input type="checkbox" name="resultado" value="Incorreto"> {% trans "Incorreto" %} </p>
              {% endif %}
        {% endfor %}
        <p> <button type="submit"> {% trans "Salvar Correções" %} </button> </p>
      </form>
</div>
{% endblock %}
