{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  {% if validlink %}
    <div class="container">
      <h3>{% trans "Altere sua senha" %}</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Alterar Senha" %}</button>
      </form>
    </div>
  {% else %}
    <p>
      {% trans "O link de resetar senha está incorreto, possivelmente porque ele já foi utilizado." %}
      {% trans "Por favor, solicite um novo link para resetar sua senha." %}
    </p>
  {% endif %}
{% endblock %}
